/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  background-color: #ffffff;
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  border-radius: .2em;
  padding: 1px 6px 1px 6px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  padding-left: 1em ;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}
/* unvisited link */
a:link {
  color: Black;
}

/* visited link */
a:visited {
  color: #404040;
}

/* mouse over link */
a:hover {
  color: #c5d4de;
}

/* selected link */
a:active {
  color: Black;
}
a:link {
  text-decoration: none;
}