.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 5em;
    padding-top: 2em;
    font-size: 18px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}